* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}




/* -----------START----------- */
header {
    margin: 2rem 0;
}

header h2 {
    text-align: center;
}


main {
    /* padding: 1rem; */
    margin: 1rem;
}

main .carousel-container {
    overflow: hidden;
    background-color: rgb(48, 45, 45);
}

.carousel-list {
    display: flex;
    padding: 1rem;
    background-color: rgb(48, 45, 45);
}

.carousel-list .item {
    border-radius: 5px;
    color: #fff;
    width: 160px;
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 175px;
    padding: 10px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-align: center;
    flex-shrink: 0;
}

.carousel-list .item:first-child {
    /* overflow: hidden; */
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes fadeOut {
    0% {
        /* width: 160px;
        padding: 10px 10px;
        margin: 0 5px;
        border: 1px solid #ddd;
        opacity: 1; */
    }
    100% {
        width: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

@keyframes fadeIn {
    0% {
        width: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
    100% {
        /* width: 160px;
        padding: 10px 10px;
        margin: 0 5px;
        border: 1px solid #ddd;
        opacity: 1; */
    }
}

.item .item-picture {
    position: relative;
}

.item .item-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.item .item-picture::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 22%;
    background-color: green;
}

.item .message {
    margin-top: auto;
    border: 1px solid #1877F2;
    padding: 5px;
    border-radius: 5px;
}

.item .message p {
    color: #1877F2;
}



#prevBtn {
    position: absolute;
    top: 25%;
    z-index: 10;
    left: 2%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s;

}


#nextBtn {
    position: absolute;
    top: 25%;
    z-index: 10;
    right: 2%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s;
}


#prevBtn:hover, #nextBtn:hover {
    border: 2px solid #1877F2;
}